:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--off-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #242424;
  --white: #ffffff;
  --off-white: #fafafa;
  --violet: #4b4e6d;
  --tiffany-blue: #84dcc6;
  --gray: #95a3b3;
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.input-form {
  margin: 5px;
}

.signup-link:hover, .login-link:hover{
  cursor: pointer;
}

.google-login-button {
  background-color: #fafafa;
}
